pipeline/piplineAccount.json
{
	"name": "piplineAccount",
	"properties": {
		"activities": [
			{
				"name": "copyAccount",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "truncateTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@variables('lastChangedDate')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "account",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "account_key",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "fileAccount",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sqlAccount",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get LastModified",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "copyAccount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "fileAccount",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "truncateTable",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "financeDW",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "truncate table dbo.account"
						}
					]
				}
			},
			{
				"name": "GetIncDate",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "financeDW",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "key",
									"type": "String",
									"value": {
										"value": "@variables('keyName')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "value",
									"type": "String",
									"value": null,
									"direction": "Output",
									"size": "50"
								}
							],
							"type": "Query",
							"text": "select  @value=value from dbo.inc where datakey=@key"
						}
					]
				}
			},
			{
				"name": "SetIncDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetIncDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "incDate",
					"value": {
						"value": "@activity('GetIncDate').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"incDate": {
				"type": "String"
			},
			"keyName": {
				"type": "String",
				"defaultValue": "account"
			}
		},
		"annotations": []
	}
}